<div class="small-12 medium-6 large-3 columns">
  <p data-equalizer-watch="brief">
    <h5>Challange</h5>
    <p><%= @work.challange %></p>
  </p>
</div>

<div class="small-12 medium-6 large-3 columns">
  <p data-equalizer-watch="brief">
    <h5>Insight</h5>
    <p><%= @work.insight %></p>
  </p>
</div>

<div class="small-12 medium-6 large-3 columns">
  <p data-equalizer-watch="brief">
    <h5>Strategy</h5>
    <p><%= @work.strategy %></p>
  </p>
</div>

<div class="small-12 medium-6 large-3 columns">
  <p data-equalizer-watch="brief">
    <h5>Results</h5>
    <p><%= @work.results %></p>
  </p>
</div>
