<div class="row">
  <div class="small-12 columns">
    <h3>Lance Armstrong Foundation - LIVESTRONG</h3>

    <p>
      <b>Challenge:</b> The Lance Armstrong Foundation (LAF) launched at a time of decreased government spending on public health. Private charities and foundations had risen to fill the void - there were over 1.5 million nonprofits in the US at the time. The LAF needed to start behaving like a brand in order to compete for it’s share of media attention and money.
    </p>
    <p>
      <b>Insight:</b> In his book It’s Not About the Bike Lance said that finding out he had cancer was the best day of his life. After his diagnosis he felt emboldened to live without fear. From this inspiration, we created a platform where cancer survivors would no longer simply accept cancer, but instead challenge it and “choose to attack” from all fronts.
    </p>
    <p>
      <b>Outcome:</b> At the time cancer was spoken about in hushed tones. Cancer organizations had pastel, neutral palettes. The cancer discussion was quite and respectful. The LAF would change all that. We would be a forceful organization. We would harness Lance’s irreverent attitude and use it to help ignite a movement to take cancer head on. We based our positioning on the belief that unity is strength, knowledge is power and attitude is everything.
    </p>
    <p>
        The campaign LIVESTRONG has sold over 70 million yellow LIVESTRONG wristbands to cancer survivors and supporters worldwide. In the process, we forever changed the attitude of the fight against cancer.
    </p>
  </div>
</div>

