<div class="row">
  <div class="small-12 columns">
    <h3>msnbc.com – A Fuller Spectrum of News</h3>

    <p>
      <b>Challenge:</b> As a product of Microsoft and NBC, msnbc.com had over time become a hodgepodge of brands and sub-sites. Attempting to be everything to everyone, msnbc.com ended up standing for nothing without a clear target. We needed to grow the brand by defining and differentiating it in a world of strong competition.
    </p>
    <p>
      <b>Insight:</b> The competition targeted and was utilized by the familiar ‘news junkie.’ For example, the CNN.com user was much more interested in finding what ‘they needed to know’ and ‘getting a quick hit’ off the site. Through our research we discovered that msnbc.com lovers were different, a new behabior and target we termed the “News Explorer.” This news explorer was more likely to enjoy the ‘thrill of the hunt’ and a ‘sense of discovery’ when looking at msnbc.com content. Our key insight was cystalized by a msnbc.com user who said “Don’t just show me what I’m looking for, spark my imagination!’
    </p>
    <p>
      <b>Outcome:</b> We invited people to dive in, swim around and Explore More. The campaign The Fuller Spectrum of news created a new and inviting brand identity that helped people interact with the news in new, innovative ways.
    </p>
    <p>
      The month the campaign launched more people came to msnbc.com than any other news source. We created the game NewsBreaker, based off the video game BrickBreaker, where people could interact with news headlines. News Explorers spent an average of of 55.4 minutes playing the game. We extended NewsBreaker as an in-cinema live game where people became could play the game, see the news
    </p>
  </div>
</div>

