<div class="row">
  <div class="small-12 columns">
    <iframe src="https://docs.google.com/document/d/1GOBlrHGsppKWynhYLSCDNDe9juZPKRUijB9xkkmxjDY/pub?embedded=true" frameborder="0" width="790" height="559">
    </iframe>
  </div>
</div>
