.image-field {
  margin-bottom: rem-calc(10);
}

a.add_fields {
  cursor:pointer;
  color:$primary-color;
  text-decoration:underline;
}

p.work-image {
  text-align: center;
}

div.thumb-image {
  height: 200px;
  img {
    vertical-align: middle;
    max-height: 200px;
    max-width: 200px;
  }
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

div.thumb-title {
  margin-top: rem_calc(20);
}
