<ul class="side-nav">
  <li><%= link_to "work", works_path %></li>
  <% @works.each do |work| %>
    <li><%= link_to "#{work.client} '#{work.campaign}'", work %></li>
  <% end %>
  <li><%= link_to "resume", 'https://s3.amazonaws.com/michelle-bucket/michelle_rowley_resume.pdf', target: "_blank" %></li>
</ul>
